# Devloppement files / folder
.vscode/**
src/**
media/**
node_modules/**
.gitignore
.vscodeignore
build.js
tsconfig.json
esbuild.js

# Prdouction files / folder
!dist/**
!package.json
!README.md
!LICENSE